html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color: #777;
}

#header {
	font-size: 36px;
	padding: 10px 0px 30px 0px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #427b9e;
}

#log_out {
	float: right;
	margin-right: 20px;
}

#logo {
	margin-top: 25px;
	position: relative;
	border-radius: 10px;
	display: inline-block;
}

#pb_logo {
	border-radius:15px;
	position: relative;
	width: 100px;
	animation-duration: 4s;
	animation-name: fadein;
}

#title {
	position: relative;
	animation-duration: 4s;
	animation-name: fadein;
	margin-right: 60px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#request_header {
	margin: auto;
	padding-bottom: 20px;
}

input[type=text] {
	border-radius: 5px;
	font-size:24px;
} 

.main_feed_container {
	background-color:#f5f5f5;
	border-radius: 15px;
	display: block;
	padding: 20px 40px 50px 40px; 
	width: 800px;
	height: 200px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	overflow: auto;
}

.prof_pic {
	width: 50px;
	padding:5px 15px 0px 5px;
}

.friend_event {
	position: relative;
	padding-bottom: 20px;
	border: 1px solid #3399ff;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

.info {
	display: inline-block;
}

.accept_button {
	border: 1.5px solid #3399ff;
	background: #e5f2ff;
	position: relative;
	padding: 5px 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	color: #003366;
	margin-top: 5px;
	margin-right: 10px;
	width: 50px;
	float: right;
}

.accept_button:hover {
	border-color: #00cc99;
	background: #66ccff;
}

.item_price {
	position: relative;
	display: inline;
}

#timestamp {
	font-size:12px;
}

#submitButton {
	margin-left:30px;
	width:70px;
	font-size:40em;
}
