<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Alter Ego</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link href="../static/css/full-width-pics.css" rel="stylesheet">
    <link href="../static/css/jumbotron.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.jsp">AlterEgo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fixed-height">
        <!-- <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt=""> -->
    </header>



    <div class="jumbotron">
        <h1>Find Your Alter Ego</h1>
        <p class="section-paragraph text-muted" style="margin-left:250px; margin-right:250px" style="font-size:12px">Diversity of thought has been shown to provide substantial benefit in a number of settings. Often achieved through group-decision making, many of the same benefits can be achieved on an individual-level with a multitude of perspectives. Unfortunately, as today’s internet content becomes increasingly personalized, the multitude of perspectives to which one is exposed similarly declines. AlterEgo aims to solve this problem by introducing individuals to their “complement in the room.” Combining years of psychological research, our flagship product presents users with a simple survey designed to assess one’s personality and interest preferences.</p>
        <p class="lead"></p>
        <br>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
        </p>
        <p><a class="btn btn-lg btn-success" href="showTestSignUp" role="button">Take the test</a>
        </p>
    </div>

     <!--  <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; AlterEgo2015</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

</body>




 
</html>
