<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Name:PaperBoy</title>
      
      <link rel="stylesheet" href="../static/css/profilestyle.css">
  </head>
    
  <body>
    <div id="entire_page">
            
      <div id="header">
      	<div id="logo"> <img id="pb_logo" src="../static/img/logo4.png"> </div>
      	<div id="title"> PaperBoy </div>
      </div>
              
      <div class="container">
          <div class="profilepage" align="center"> 
            <div class="listingsholder">
                <div class="listings">
                    <h1>My Requests</h1>
                </div>
                <label><input type="checkbox" name="checkbox" value="value">Text</label>
            </div>
            
            <div class="listingsholder">
                <div class="listings">
                    <h1>My Runs</h1>
                </div>
                <label><input type="checkbox" name="checkbox" value="value">Text</label>
            </div>
            
            <div class="listingsholder">
                <div class="listings">
                    <h1>Completed</h1>
                </div>
                <label><input type="checkbox" name="checkbox" value="value">Text</label>
            </div>
          </div>
      </div>
    </div>
  </body>
    
</html>